<div>
    <table>
        <thead>
            <tr>
                <th>CategoryId</th>
                <th>ParentCategoryId</th>
                <th>Name</th>
                <th>Keywords</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{category.CategoryId}}</td>
                <td>{{category.ParentCategoryId}}</td>
                <td>{{category.Name}}</td>
                <td>{{category.Keywords}}</td>
            </tr>
        </tbody>
    </table>
</div>
