<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the {{title}}!
  </h1>
  </div>
<h4>Please type a category id: </h4>
<input type="text" #catId/>
<button (click)='getCategory(catId.value)'>Get Category</button>
<my-category [category]="category"></my-category>
<br />
<h4>Please type a category level: </h4>
<input type="text" #levelId/>
<button (click)='getLevel(levelId.value)'>Get Categories By Level</button>

<div *ngFor="let name of categoryNames">
  <p>{{name}}</p>
</div>